@charset "UTF-8";
.head {
	background-color: #C0C0C0;
}
.ins {
	background-color: #eeeeee;
}
.pap {
	background-color: #e8f4e5;
}
.bar {
	background-color: #fffcf7;
}
.par {
	background-color: #f0f0f0;
}
.pie {
	background-color: #fff0b2;
}
.dis {
	background-color: #f1edda;
}
.whi {
	background-color: #ededed;
}
.hs {
	background-color: #fbe5ff;
}
.cop {
	background-color: #ffe8c5;
}
.harv {
	background-color: #fff5e5;
}
.eus {
	background-color: #efe9b4;
}
.rio {
	background-color: #e2dcab;
}
.nym {
	background-color: #fee9c0;
}
.pyr {
	background-color: #f2ffc6;
}
.pir {
	background-color: #f5f8a3;
}
.hes {
	background-color: #dff19f;
}.search {
	color: #000;
}
.thumbs {
	color: #000;
}
